# Data Science Tools and Ecosystems

## In this notebook, Data Science Tools and Ecosystem are summarized

## Objectives:

1. List popular Data Science Languages
2. List Data Science libraries
3. List Data Science tools
4. Evaluate an arithmetic expression
5. Create a code cell to multiply and add numbers
6. Create a code cell to convert minutes to hours

### Some of the popular languages of data science are:

1. Python
2. R Programming
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Scientific (such as Pandas & NumPy; Scala - Vegas)
2. Visualization (Python - Matplotlib and Seaborn; R - ggplot2)
3. Machine Learning (such as Scikit-learn and Keras)
4. Deep Learning (such as TensorFlow and PyTorch; Scala - BigDL)

### Create a markdown cell with a table of Data Science tools

| Data Science Tool |
| ----------------- |
|      MySQL        |
|    PostgreSQL     |
|      NoSQL        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
x = 5
y = 10
print(x + y)

15

In [13]:
x = 150
y = 110
print(x - y)

40

In [14]:
x = 12000
y = 3
print(x * y)

36000

In [15]:
x = 15
y = 5
print(x / y)

3.0

###  This a simple arithmetic expression to mutiply then add integers

In [17]:
print((3*4)+5)

17

### This will convert 200 minutes to hours by dividng by 60

In [19]:
minutes = 200
hours = (minutes/60)
print(hours, "hours")

3.3333333333333335 hours

## Author

Terry Jones